.primary-bg-color{
   background-color: #754ffe; 
}

.primary-color{
    color: #754ffe; 
}

.navbar .nav-item .nav-link{ font-weight: 500;  color:  #000;  }
.navbar .nav-item:hover .nav-link{ color:  #754ffe;  }

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.hero-bottom-wrapper{
    background-color: white;
    padding-bottom: 20px;
}

.main-content-wrapper{
    background-color: #f5f4f8;
    padding-top: 80px;
    padding-bottom: 30px;
}

.card-title:hover{
    color: #754ffe; 
}
.card-list{
    list-style-type: none;
    color: gray;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    margin-left: 50px;
    margin-right: 50px;
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid rgb(250, 248, 248);
}

.hero-container p{
    max-width: 90%;
}

.nav-footer .nav-link{  
    color:  #413c5e;
}

.footer{
    background-color: #f5f4f8;
}
.nav-footer  .nav-link:hover{
    color:  #754ffe; 
}

/* <!-- Icons styling ---> */
.rank .fa-star{
    color:rgb(202, 147, 8);
    font-size:small;
}

.fa-signal{
    color: #754ffe; 
}